# ----------------------------------------------------------------------------
# 数据集参数 (Dataset Parameters)
# ----------------------------------------------------------------------------
# 数据集根目录的路径
# euroc：/home/pangjunxiang/dataset/Euroc/MH_01_easy
# tum：/home/pangjunxiang/dataset/TUM/freiburg1
# kitti:
dataset_path: "/home/geneta/dataset/source_dataset/kitti/2011_09_30_drive_0027_sync"

# 支持euroc\tum\kitti数据集
dataset_type: "kitti"

# ============================================= 视觉前端配置参数 =============================================
# 相机内参
cam_intrinsics: [707.0912, 0.000, 601.8873, 
                 0.000, 707.0912, 183.1104, 
                 0.000, 0.000, 1.000]

# 相机畸变参数
use_undistort: False
camera_model: "pinhole"
distortion_coefficients: [0, 0, 0, 0, 0]
alpha: 0

# 图像大小
image_width: 1241
image_height: 376

# 特征点的最小距离
nmaxdist: 35

# CLAHE参数
use_clahe: True
clahe_value: 2.0

# KLT参数
window_size: 9
pyramid_levels: 3
nmax_iters: 30 # KLT最大迭代次数
klt_err: 0.01 # KLT误差阈值
max_fb_dist: 1.0 # 前后向追踪的FB距离阈值

# 使用运动模型预测光流
klt_use_prior: True

# RANSAC相关参数
do_random: True
ransac_iter: 100
ransac_err: 3.0

# 初始化判定视差阈值
init_parallax: 20.0